
body {
    background-color: #DCD0FF;
    color: black;
    text-align: center;
    font-size: 12px;
}

.country-container {
    padding: 32px;
    display: flex;
    justify-content: space-between;
}

.travel-advice {
    padding: 32px;
}