
body {
    background-color: #DCD0FF;
    color: black;
    text-align: center;
    font-size: 16px;
    padding: 32px 30% 0px 30%;
}

h2 {
    font-size: 64px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 24px;
}

p {
    padding-top: 24px;
    padding-bottom: 32px;
}

.country-container {
    padding: 32px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.country {
    height: 120px;
    min-width: 180px;
    max-width: 360px;
    flex: 1 1 360px;
    display: flex;
    border: 1px solid white;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin: 12px 10px;
}

.travel-advice {
    padding: 32px;
}